
header{
	background-color: #824292;
	width: 100%;
	height: 80px;
	position: relative;
}
.parent{
	position: relative;
	width: 980px;
	margin: 0 auto;
}
.logo{
	color: #fff;
	position: relative;
	top: 45px;
	font-size: 25px;
}
.header_menu ul{
	text-align: right;
	display: inline-block;
	position: absolute;
	top: 35px;
	right: 0px;
}
.header_menu ul li{
	color: white;
	font: 14px "宋体",serif;

	display: inline-block;
	margin-left: 28px;
}
.header_menu ul li a{
	color: #fff;
	text-decoration: none;
}
.github_icon img{
	position: absolute;
	top:46px;
	right: 10px;
	width: 30px;
}
.banner-bg{
	width: 100%;
	position: relative;
}
.banner-bg img{
	width: 100%;
}
.bg_text{
	width: 312px;
	height: 97px;
	overflow: auto;
	color: #fff;
	font-size: 12px;
	line-height: 150%;
	position: absolute;
	right: 183.5px;
	bottom: 0;
	z-index: 2;
	padding: 10px 10px 30px;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)); 
}
.bg_text span{
	font-size: 14px;
	position: relative;
	left: 284px;
}

article{
	background-color: rgb(223, 209, 233);
}
.container{
	display: flex;
	width: 980px;
	margin: 10px auto 0;
	justify-content:space-between;
}
.item{
	background-color: #fff;
	width: 320px;
}
.item img{
	width: 300px;
	height: 180px;
	padding: 10px;
}
.item p{
	white-space: pre-wrap;
	font-size: 12px;
	line-height: 170%;
	margin-top: 5px;
	margin:0 30px 25px 30px;
	word-wrap: break-word;
	text-indent: 2em;
}
.self_introduction{
	position: relative;
	width: 100%;
	background-color: #fff;	
	top: 100px;
}
.head_portrait{
	width: 160px;
	height: 160px;
	position: relative;
	top: -50px;
	border-radius: 50%;
	margin:0 auto;
}
.head_portrait img{
	border-radius: 50%;
}

.introduction{
	margin: 0 auto;
	width: 600px;
	height: 520px;
}
.biaoti{
	font-size: 20px;
	font-family: Century Gothic;
	display: inline;
	position: relative;
	left: 234.775px;	
}
.introduction p{
	text-indent: 2em;
	font-size: 14px;		
	word-wrap: break-word;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #000;
}
.nav{
	text-align: center;
	height: 40px;
	border-bottom: 1px solid #C4A7CC;
}
.nav ul{
	padding:10px 0;
}
.nav ul li,a{
	display: inline-block;
	color: #fff;	
	text-decoration: none;
}
.nav ul li{
	margin: 0 10px;
	font-size: 14px;
}
.links{
	display: flex;
	width: 980px;
	margin: 20 auto;
	justify-content:space-between;
}
.item1{
	color: #C4A7CC;
}
.item1 ul{
	padding: 0;
	list-style-type: none;
}
.item1 ul a{
	line-height: 200%;
	text-decoration: underline;
}
.right{
	color: #fff;
	position: absolute;
	left: 631.5px;
	bottom: 44px;
}
.github_icon1{
position: absolute;
left: 648.5px;
bottom: -4px;
}