
header{
	background-color: #824292;
	width: 100%;
	height: 80px;
	position: relative;
}
.parent{
	position: relative;
	width: 980px;
	margin: 0 auto;
}
.logo{
	color: #fff;
	position: relative;
	top: 45px;
	font-size: 25px;
}
.header_menu ul{
	text-align: right;
	display: inline-block;
	position: absolute;
	top: 35px;
	right: 0px;
}
.header_menu ul li{
	color: white;
	font: 14px "宋体",serif;
	display: inline-block;
	margin-left: 28px;
}
.header_menu ul li a{
	color: #fff;
	text-decoration: none;
}
.github_icon img{
	position: absolute;
	top:46px;
	right: 10px;
	width: 30px;
}
.banner-bg{
	width: 100%;
	position: relative;
}
.banner-bg img{
	width: 100%;
}
.bg_text{
	width: 312px;
	height: 97px;
	overflow: auto;
	color: #fff;
	font-size: 12px;
	line-height: 150%;
	position: absolute;
	right: 183.5px;
	bottom: 0;
	z-index: 2;
	padding: 10px 10px 30px;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0)); 
}
.bg_text span{
	font-size: 14px;
	position: relative;
	left: 284px;
}

article{
	background-color: rgb(223, 209, 233);
}
.container{
	display: flex;
	width: 980px;
	margin: 10px auto 0;
	justify-content:space-between;
}
.item{
	background-color: #fff;
	width: 320px;
	height: 500px;
}
.item img{
	width: 300px;
	height: 180px;
	padding: 10px;
}
